$mainFont:  'Poppins', sans-serif;

// Colors
$blue: #0da6f3;
$blackC: #1a1b15;
$white: #FFFFFF;
$gray: #e1e1e1;
//Fonts
$regular: 400;
$bold: 700;
$black: 900;
//Seperations
$separation: 5rem;
// Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;